<div class="container">
<h1>Ah, {{flag}} is as gorgeous as ever!</h1>
    {% if rand_val %}
    <img src="static/unicorn_{{rand_val}}.jpg">
    {% else %}
    <img src="static/unicorn_0.jpg">
    {% endif %}
</div>